{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&family=Bebas+Neue&family=Cinzel+Decorative:wght@700&family=Fjalla+One&family=Fugaz+One&family=Hubballi&family=Koulen&family=League+Gothic&family=Lobster&family=Oswald:wght@500&family=Pacifico&family=Rambla&family=Righteous&family=Ropa+Sans&family=Staatliches&family=Yanone+Kaffeesatz:wght@500&display=swap');
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
          crossorigin="anonymous">
    <!-- About Start -->
    <div class="container-fluid p-5 chemicals-background ">
        <div class="container">
            <div class="row g-sm-5">
                <div class="col-lg-6 wow fadeInUp image-hide" data-wow-delay="0.1s">
                    <div class="position-relative overflow-hidden ps-5 pt-5 h-100 "
                         style="min-height: 400px">
                        <img class="position-absolute w-100 h-100 border-start border-5 border-warning "
                             src="{% static 'images/chemicals.jpg' %}"
                             alt=""
                             style="object-fit: cover"/>
                    </div>
                </div>
                <style>
                    .chemicals-background{
                        background-image:url('');
                    }


          @media only screen and (max-width:576px){
            .image-hide{
              display: none;
            }
            .make-orange{
              background-color:rgba(211, 211, 211,.3) ;
          }
        }
                </style>
                <div class="col-lg-6 wow fadeInUp py-5" data-wow-delay="0.5s">
                    <div class="h-100">
                        <div class="border-start border-5 border-warning ps-4 mb-5 m-0 p-0">
                            <h6 class="text-body text-uppercase mb-2 p-0 text-secondary"style="font-family: 'Fjalla One', sans-serif;">OUR PRODUCTS</h6>
                            <h1 class="display-6 m-0 p-0" style="font-family: 'Staatliches', cursive;">CONSTRUCTION CHEMICALS</h1>
                        </div>
                        <p style="text-align:justify;" class="m-0">
                            SQ Engineering Contractors Pvt Ltd. a world class civil engineering and construction company established
                            in
                            2009 at Cochin, Kerala,SQEC Pvt. Ltd. is a value based visionary and pioneer company in construction chemical industry. SQEC Pvt. Ltd. has been established since 2009 and have excellent track record with satisfying customer. We provide our customers with the best quality products from certified companies in Manufacturing, Trading, and Exporting. The range of the products varies to Tile Adhesive, Water Proofing Chemicals, Sealant, Wall Putty, Epoxy, Tile Grout, Admixture, Tile Cleaner, Anchoring Grout, Epoxy Paint etc.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" m-0 p-5 fadeInUp wow row"
         data-wow-delay="0.5s"
         style="background-color:rgba(0,0,0,.1)">
        <div class="col-sm-6">
            <h6 class=" px-3 text-justify border-start border-5 border-warning">
                Our Company try to provide best Quality, Quantity and Service to customer, there by boosting the Efficiency, Durability and Aesthetic appeal of the building, Infract restructure facility by caring chemical products, result in contributing towards sustainable development.
            </h6>
        </div>
        <div class="col-sm-6">
            <div class="row gy-5 gx-4">
                <div class="col-6 wow fadeIn" data-wow-delay="0.2s">
                    <div class="d-flex align-items-center mb-2">
                        <i class="fa fa-check fa-2x text-warning flex-shrink-0 me-3"></i>
                        <h6 class="mb-0">12+ years of professional experience</h6>
                    </div>
                    >
                </div>
                <div class="col-6 wow fadeIn" data-wow-delay="0.4s">
                    <div class="d-flex align-items-center mb-2">
                        <i class="fa fa-check fa-2x text-warning flex-shrink-0 me-3"></i>
                        <h6 class="mb-0 ">Always reliable and affordable prices</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" m-0 p-5 fadeInUp  wow"
         data-wow-delay="0.5s"
         style="background-color:white;">
        <div class="border-start border-5 border-warning ps-4 mb-5 m-0 p-0">
            <h6 class="text-body text-uppercase mb-2 p-0"style="font-family: 'Righteous', cursive;">PRODUCTS</h6>
            <h1 class="display-6 m-0 p-0" style="font-family: 'Fjalla One', sans-serif;">COMPANIES WE HAVE</h1>
        </div>
        <div class=" row containter-fluid border-top flexy border-2 p-sm-5 border-warning">
            <div class="col-sm-4 box3 fadeInUp wow" data-wow-delay="0.5s">
                <div class="flexyy">
                    <img class=" " src="{% static 'images/companies/com-logo (1).jpg' %}">
                </div>
                <h2 class="cname w-100 justify-content-bottom p-2" style="font-family: 'Rambla', sans-serif">DR.FIXIT</h2>
            </div>

            <div class="col-sm-4 box3 fadeInUp wow" data-wow-delay="0.5s">
                <div class="flexyy">
                    <img class=" " src="{% static 'images/companies/com-logo (1).png' %}">
                </div>
                
                    <h2 class="cname  w-100 justify-content-bottom text-center  p-2"style="font-family: 'Rambla', sans-serif">ASIAN PAINTS</h2>
              
                
            </div>

            <div class="col-sm-4 box3 fadeInUp wow" data-wow-delay="0.5s">
                <div class="flexyy">
                    <img class=" " style="width:120px;" src="{% static 'images/companies/com-logo (2).png' %}">
                </div>
                <h2 class="cname w-100 justify-content-bottom text-center  p-2"style="font-family: 'Rambla', sans-serif">BERGER</h2>
            </div>

            <div class="col-sm-4 box3 fadeInUp wow" data-wow-delay="0.5s">
                <div class="flexyy">
                    <img class=" " src="{% static 'images/companies/com-logo (3).png' %}">
                </div>
                <h2 class="cname w-100 justify-content-bottom text-center "style="font-family: 'Rambla', sans-serif">CONPAC</h2>
            </div>

            <div class="col-sm-4 box3 fadeInUp wow" data-wow-delay="0.5s">
                <div class="flexyy">
                    <img class=" " src="{% static 'images/companies/com-logo (4).png' %}">
                </div>
                <h2 class="cname w-100 justify-content-bottom text-center"style="font-family: 'Rambla', sans-serif">FOSROC</h2>
            </div>

            <div class="col-sm-4 box3 fadeInUp wow" data-wow-delay="0.5s">
                <div class="flexyy">
                    <img class=" " src="{% static 'images/companies/com-logo (5).png' %}">
                </div>
                <h2 class="cname w-100 justify-content-bottom text-center "style="font-family: 'Rambla', sans-serif">LA GREENS</h2>
            </div>

            <div class="col-sm-4 box3 fadeInUp wow" data-wow-delay="0.5s">
                <div class="flexyy">
                    <img class=" " src="{% static 'images/companies/com-logo (6).png' %}">
                </div>
                <h2 class="cname w-100 justify-content-bottom text-center "style="font-family: 'Rambla', sans-serif">LATICRETE</h2>
            </div>

            <div class="col-sm-4 box3 fadeInUp wow" data-wow-delay="0.5s">
                <div class="flexyy">
                    <img class=" " src="{% static 'images/companies/com-logo (7).png' %}">
                </div>
                <h2 class="cname w-100 justify-content-bottom text-center "style="font-family: 'Rambla', sans-serif">SIKA</h2>
            </div>

            <div class="col-sm-4 box3 fadeInUp wow" data-wow-delay="0.5s">
                <div class="flexyy">
                    <img class=" " src="{% static 'images/companies/com-logo (8).png' %}">
                </div>
                <h2 class="cname w-100 justify-content-bottom text-center "style="font-family: 'Rambla', sans-serif">MYK ARMENT</h2>
            </div>

            <div class="col-sm-4 box3 fadeInUp wow" data-wow-delay="0.5s">
                <div class="flexyy">
                    <img class=" " src="{% static 'images/companies/com-logo (9).png' %}">
                </div>
                <h2 class="cname w-100 justify-content-bottom text-center "style="font-family: 'Rambla', sans-serif">PEDILITE</h2>
            </div>

            <div class="col-sm-4 box3 fadeInUp wow" data-wow-delay="0.5s">
                <div class="flexyy">
                    <img class=" " src="{% static 'images/companies/com-logo (10).png' %}">
                </div>
                <h2 class="cname w-100 justify-content-bottom text-center "style="font-family: 'Rambla', sans-serif">REDWOP</h2>
            </div>

            <div class="col-sm-4 box3 fadeInUp wow" data-wow-delay="0.5s">
                <div class="flexyy">
                    <img class=" " src="{% static 'images/companies/com-logo (11).png' %}">
                </div>
                <h2 class="cname w-100 justify-content-bottom text-center "style="font-family: 'Rambla', sans-serif">WALLMAX</h2>
            </div>

           


           
        </div>
    </div>
    <style>
        .flexyy img{
            width: 90px;
            height: auto;
            transition: 1s;
        
        }
        .imagess{
            display:flex;
            align-items:center;
            justify-content:center;
            

        }
       
        img:hover{
            
            transform: scale(1.2);
        }
        .flexyy{
            
            height:80%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        .box3:hover {
            background-color:rgb(255, 208, 0);
            color:white;
        }
        .box3:hover h2{
            color:white;
        }
        .cname{
                
                color:white;
                height:100%;
                display:flex;
            align-items:center;
            justify-content:center;
            

        }
        .box3{
border-radius:15px;
            height:120px;
            transition:1s;
            box-shadow:1px 1px 5px gray;
            margin:10px;
            width:30%;
            display: flex;
            align-items:center;
            justify-content: center;
            border-left:5px solid orange;

            
        }
        .box3 h2{
            color:gray;
        }

        @media (max-width: 950px) {

            .box3{
                width:100%;
            }



        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</div>
<!-- About End -->
{% endblock %}
